PG_DSN=postgresql+psycopg://<user>:<password>:@<host>/web_analytics?sslmode=enable&connect_timeout=10&application_name=analytics-retrieval
LOG_LEVEL=DEBUG
TIMEZONE=UTC
ENVIRONMENT=prod

# Specif ASGI application settings
# This could also be passed as a stringified json
# APP='{"host": "0.0.0.0", "port": 8080}'
APP__HOST=0.0.0.0
APP__PORT=5000
